@font-face {
    font-family: "address-click-front";
    src: url('./eot/address-click-front-icon.eot?t=1611400354379'); /* IE9*/
    src: url('./eot/address-click-front-icon.eot?t=1611400354379#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url("./woff2/address-click-front-icon.woff2?t=1611400354379") format("woff2"),
    url("./woff/address-click-front-icon.woff?t=1611400354379") format("woff"),
    url('./ttf/address-click-front-icon.ttf?t=1611400354379') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
    url('./svg/address-click-front-icon.svg?t=1611400354379#address-click-front') format('svg'); /* iOS 4.1- */
}

[class^="i-"], [class*=" i-"] {
    font-family: 'address-click-front' !important;
    font-size:16px;
    font-style:normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}


.i-2user:before{
  content: "\ea01"}
.i-3user:before{
  content: "\ea02"}
.i-a-to-z:before{
  content: "\ea03"}
.i-academy:before{
  content: "\ea04"}
.i-activity-2:before{
  content: "\ea05"}
.i-activity-state:before{
  content: "\ea06"}
.i-activity:before{
  content: "\ea07"}
.i-add-ads:before{
  content: "\ea08"}
.i-add-brand:before{
  content: "\ea09"}
.i-add-img:before{
  content: "\ea0a"}
.i-add-small:before{
  content: "\ea0b"}
.i-add-specification:before{
  content: "\ea0c"}
.i-add-user:before{
  content: "\ea0d"}
.i-add-variation:before{
  content: "\ea0e"}
.i-add:before{
  content: "\ea0f"}
.i-address-book:before{
  content: "\ea10"}
.i-adjust-horizontal-alt:before{
  content: "\ea11"}
.i-adjust-horizontal:before{
  content: "\ea12"}
.i-adjust-vertical-alt:before{
  content: "\ea13"}
.i-adjust-vertical:before{
  content: "\ea14"}
.i-ads-list-submenu:before{
  content: "\ea15"}
.i-ads:before{
  content: "\ea16"}
.i-airplay:before{
  content: "\ea17"}
.i-airpods:before{
  content: "\ea18"}
.i-alarm:before{
  content: "\ea19"}
.i-alien:before{
  content: "\ea1a"}
.i-align-bottom:before{
  content: "\ea1b"}
.i-align-center-horizontal:before{
  content: "\ea1c"}
.i-align-center-vertical:before{
  content: "\ea1d"}
.i-align-justify:before{
  content: "\ea1e"}
.i-align-left:before{
  content: "\ea1f"}
.i-align-right:before{
  content: "\ea20"}
.i-align-text-center:before{
  content: "\ea21"}
.i-align-text-justify:before{
  content: "\ea22"}
.i-align-text-left:before{
  content: "\ea23"}
.i-align-text-right:before{
  content: "\ea24"}
.i-align-top:before{
  content: "\ea25"}
.i-anchor:before{
  content: "\ea26"}
.i-angle-down:before{
  content: "\ea27"}
.i-angle-left:before{
  content: "\ea28"}
.i-angle-right:before{
  content: "\ea29"}
.i-angle-up:before{
  content: "\ea2a"}
.i-animal:before{
  content: "\ea2b"}
.i-anja:before{
  content: "\ea2c"}
.i-anti-clockwise:before{
  content: "\ea2d"}
.i-appointments:before{
  content: "\ea2e"}
.i-archive:before{
  content: "\ea2f"}
.i-area-chart-alt:before{
  content: "\ea30"}
.i-area-chart:before{
  content: "\ea31"}
.i-arrow-down-circle:before{
  content: "\ea32"}
.i-arrow-down-small:before{
  content: "\ea33"}
.i-arrow-down:before{
  content: "\ea34"}
.i-arrow-left-circle:before{
  content: "\ea35"}
.i-arrow-left-small:before{
  content: "\ea36"}
.i-arrow-left:before{
  content: "\ea37"}
.i-arrow-right-circle:before{
  content: "\ea38"}
.i-arrow-right-small:before{
  content: "\ea39"}
.i-arrow-right:before{
  content: "\ea3a"}
.i-arrow-up-circle:before{
  content: "\ea3b"}
.i-arrow-up-small:before{
  content: "\ea3c"}
.i-arrow-up:before{
  content: "\ea3d"}
.i-arrow:before{
  content: "\ea3e"}
.i-at:before{
  content: "\ea3f"}
.i-attach:before{
  content: "\ea40"}
.i-attachment:before{
  content: "\ea41"}
.i-audio-cable:before{
  content: "\ea42"}
.i-audio-document:before{
  content: "\ea43"}
.i-award:before{
  content: "\ea44"}
.i-backspace:before{
  content: "\ea45"}
.i-bag-alt:before{
  content: "\ea46"}
.i-bag-cart:before{
  content: "\ea47"}
.i-bag-minus:before{
  content: "\ea48"}
.i-bag-plus:before{
  content: "\ea49"}
.i-bag-service-2:before{
  content: "\ea4a"}
.i-bag-service:before{
  content: "\ea4b"}
.i-bag:before{
  content: "\ea4c"}
.i-bar-chart:before{
  content: "\ea4d"}
.i-barcode:before{
  content: "\ea4e"}
.i-basket-minus:before{
  content: "\ea4f"}
.i-basket-plus:before{
  content: "\ea50"}
.i-basket:before{
  content: "\ea51"}
.i-battery-0:before{
  content: "\ea52"}
.i-battery-1:before{
  content: "\ea53"}
.i-battery-2:before{
  content: "\ea54"}
.i-battery-3:before{
  content: "\ea55"}
.i-battery-4:before{
  content: "\ea56"}
.i-battery-5:before{
  content: "\ea57"}
.i-battery-charge:before{
  content: "\ea58"}
.i-battery-charging:before{
  content: "\ea59"}
.i-battery:before{
  content: "\ea5a"}
.i-beat:before{
  content: "\ea5b"}
.i-behance:before{
  content: "\ea5c"}
.i-bell:before{
  content: "\ea5d"}
.i-bluetooth:before{
  content: "\ea5e"}
.i-bold:before{
  content: "\ea5f"}
.i-book-open:before{
  content: "\ea60"}
.i-book:before{
  content: "\ea61"}
.i-bookmark-box:before{
  content: "\ea62"}
.i-bookmark:before{
  content: "\ea63"}
.i-border-bottom:before{
  content: "\ea64"}
.i-border-horizontal:before{
  content: "\ea65"}
.i-border-inner:before{
  content: "\ea66"}
.i-border-left:before{
  content: "\ea67"}
.i-border-none:before{
  content: "\ea68"}
.i-border-outer:before{
  content: "\ea69"}
.i-border-radius:before{
  content: "\ea6a"}
.i-border-right:before{
  content: "\ea6b"}
.i-border-top:before{
  content: "\ea6c"}
.i-border-vertical:before{
  content: "\ea6d"}
.i-bottom-left:before{
  content: "\ea6e"}
.i-bottom-right:before{
  content: "\ea6f"}
.i-box:before{
  content: "\ea70"}
.i-bracket:before{
  content: "\ea71"}
.i-brand-info:before{
  content: "\ea72"}
.i-briefcase:before{
  content: "\ea73"}
.i-bulb-off:before{
  content: "\ea74"}
.i-bulb-on:before{
  content: "\ea75"}
.i-button:before{
  content: "\ea76"}
.i-buy-order:before{
  content: "\ea77"}
.i-calculate:before{
  content: "\ea78"}
.i-calculator:before{
  content: "\ea79"}
.i-calendar-down:before{
  content: "\ea7a"}
.i-calendar-left:before{
  content: "\ea7b"}
.i-calendar-minus:before{
  content: "\ea7c"}
.i-calendar-no-access:before{
  content: "\ea7d"}
.i-calendar-plus:before{
  content: "\ea7e"}
.i-calendar-right:before{
  content: "\ea7f"}
.i-calendar-tick:before{
  content: "\ea80"}
.i-calendar-up:before{
  content: "\ea81"}
.i-calendar-x:before{
  content: "\ea82"}
.i-calendar:before{
  content: "\ea83"}
.i-camera:before{
  content: "\ea84"}
.i-candle-chart:before{
  content: "\ea85"}
.i-car-delivery:before{
  content: "\ea86"}
.i-caret-vertical-circle:before{
  content: "\ea87"}
.i-caret-vertical-small:before{
  content: "\ea88"}
.i-caret-vertical:before{
  content: "\ea89"}
.i-cart-full:before{
  content: "\ea8a"}
.i-cart-minus:before{
  content: "\ea8b"}
.i-cart-plus:before{
  content: "\ea8c"}
.i-cart:before{
  content: "\ea8d"}
.i-category:before{
  content: "\ea8e"}
.i-certificate:before{
  content: "\ea8f"}
.i-change-status:before{
  content: "\ea90"}
.i-change:before{
  content: "\ea91"}
.i-chat-typing-alt:before{
  content: "\ea92"}
.i-chat-typing:before{
  content: "\ea93"}
.i-chat:before{
  content: "\ea94"}
.i-chatbot:before{
  content: "\ea95"}
.i-check-circle-1:before{
  content: "\ea96"}
.i-check-circle:before{
  content: "\ea97"}
.i-check-profile:before{
  content: "\ea98"}
.i-check:before{
  content: "\ea99"}
.i-chevron-down:before{
  content: "\ea9a"}
.i-chevron-left:before{
  content: "\ea9b"}
.i-chevron-right:before{
  content: "\ea9c"}
.i-chevron-up:before{
  content: "\ea9d"}
.i-chevrons-down:before{
  content: "\ea9e"}
.i-chevrons-left:before{
  content: "\ea9f"}
.i-chevrons-right:before{
  content: "\eaa0"}
.i-chevrons-up:before{
  content: "\eaa1"}
.i-circle:before{
  content: "\eaa2"}
.i-clipboard-minus:before{
  content: "\eaa3"}
.i-clipboard-no-access:before{
  content: "\eaa4"}
.i-clipboard-plus:before{
  content: "\eaa5"}
.i-clipboard-tick:before{
  content: "\eaa6"}
.i-clipboard-x:before{
  content: "\eaa7"}
.i-clipboard:before{
  content: "\eaa8"}
.i-clock:before{
  content: "\eaa9"}
.i-clockwise:before{
  content: "\eaaa"}
.i-close:before{
  content: "\eaab"}
.i-code:before{
  content: "\eaac"}
.i-coffee:before{
  content: "\eaad"}
.i-cog:before{
  content: "\eaae"}
.i-compass:before{
  content: "\eaaf"}
.i-computer:before{
  content: "\eab0"}
.i-contact:before{
  content: "\eab1"}
.i-contract:before{
  content: "\eab2"}
.i-copy:before{
  content: "\eab3"}
.i-corner-up-left:before{
  content: "\eab4"}
.i-corner-up-right:before{
  content: "\eab5"}
.i-cost-estimate:before{
  content: "\eab6"}
.i-credit-card:before{
  content: "\eab7"}
.i-crop:before{
  content: "\eab8"}
.i-csv:before{
  content: "\eab9"}
.i-cup:before{
  content: "\eaba"}
.i-curved-connector:before{
  content: "\eabb"}
.i-danger:before{
  content: "\eabc"}
.i-dash:before{
  content: "\eabd"}
.i-dashboard:before{
  content: "\eabe"}
.i-day:before{
  content: "\eabf"}
.i-delayed-order:before{
  content: "\eac0"}
.i-delete:before{
  content: "\eac1"}
.i-delivery-check:before{
  content: "\eac2"}
.i-delivery-check2:before{
  content: "\eac3"}
.i-delivery:before{
  content: "\eac4"}
.i-desklamp:before{
  content: "\eac5"}
.i-diamond:before{
  content: "\eac6"}
.i-direction:before{
  content: "\eac7"}
.i-discord:before{
  content: "\eac8"}
.i-discount:before{
  content: "\eac9"}
.i-distribute-horizontal:before{
  content: "\eaca"}
.i-distribute-vertical:before{
  content: "\eacb"}
.i-divider-line:before{
  content: "\eacc"}
.i-doc-file:before{
  content: "\eacd"}
.i-doc:before{
  content: "\eace"}
.i-documents:before{
  content: "\eacf"}
.i-double-caret-down-circle:before{
  content: "\ead0"}
.i-double-caret-down:before{
  content: "\ead1"}
.i-double-caret-left-circle:before{
  content: "\ead2"}
.i-double-caret-left:before{
  content: "\ead3"}
.i-double-caret-right-circle:before{
  content: "\ead4"}
.i-double-caret-right:before{
  content: "\ead5"}
.i-double-caret-up-circle:before{
  content: "\ead6"}
.i-double-caret-up:before{
  content: "\ead7"}
.i-down-circle:before{
  content: "\ead8"}
.i-down-small:before{
  content: "\ead9"}
.i-down:before{
  content: "\eada"}
.i-download-cloud:before{
  content: "\eadb"}
.i-download:before{
  content: "\eadc"}
.i-drag-horizontal:before{
  content: "\eadd"}
.i-drag-vertical:before{
  content: "\eade"}
.i-drag:before{
  content: "\eadf"}
.i-drop:before{
  content: "\eae0"}
.i-dropper:before{
  content: "\eae1"}
.i-edit-2:before{
  content: "\eae2"}
.i-edit-circle:before{
  content: "\eae3"}
.i-edit-small:before{
  content: "\eae4"}
.i-edit:before{
  content: "\eae5"}
.i-elbow-connector:before{
  content: "\eae6"}
.i-envelope-open:before{
  content: "\eae7"}
.i-envelope:before{
  content: "\eae8"}
.i-eps:before{
  content: "\eae9"}
.i-error-waver:before{
  content: "\eaea"}
.i-error:before{
  content: "\eaeb"}
.i-exclamation-circle:before{
  content: "\eaec"}
.i-exclamation-small:before{
  content: "\eaed"}
.i-exclamation:before{
  content: "\eaee"}
.i-exel-archive:before{
  content: "\eaef"}
.i-exel-download:before{
  content: "\eaf0"}
.i-exel-upload:before{
  content: "\eaf1"}
.i-expand-alt:before{
  content: "\eaf2"}
.i-expand:before{
  content: "\eaf3"}
.i-eye-closed:before{
  content: "\eaf4"}
.i-eye-off:before{
  content: "\eaf5"}
.i-eye:before{
  content: "\eaf6"}
.i-face-id:before{
  content: "\eaf7"}
.i-facebook:before{
  content: "\eaf8"}
.i-female:before{
  content: "\eaf9"}
.i-file-minus:before{
  content: "\eafa"}
.i-file-no-access:before{
  content: "\eafb"}
.i-file-plus:before{
  content: "\eafc"}
.i-file-tick:before{
  content: "\eafd"}
.i-file-x:before{
  content: "\eafe"}
.i-file:before{
  content: "\eaff"}
.i-film:before{
  content: "\eb00"}
.i-filter-2:before{
  content: "\eb01"}
.i-filter-off:before{
  content: "\eb02"}
.i-filter:before{
  content: "\eb03"}
.i-financial:before{
  content: "\eb04"}
.i-fingerprint:before{
  content: "\eb05"}
.i-flag-1:before{
  content: "\eb06"}
.i-flag:before{
  content: "\eb07"}
.i-float-center:before{
  content: "\eb08"}
.i-float-left:before{
  content: "\eb09"}
.i-float-right:before{
  content: "\eb0a"}
.i-folder-minus:before{
  content: "\eb0b"}
.i-folder-no-access:before{
  content: "\eb0c"}
.i-folder-plus:before{
  content: "\eb0d"}
.i-folder-tick:before{
  content: "\eb0e"}
.i-folder-x:before{
  content: "\eb0f"}
.i-folder:before{
  content: "\eb10"}
.i-food:before{
  content: "\eb11"}
.i-forward-circle:before{
  content: "\eb12"}
.i-forward-small:before{
  content: "\eb13"}
.i-forward:before{
  content: "\eb14"}
.i-full-screen:before{
  content: "\eb15"}
.i-gallery:before{
  content: "\eb16"}
.i-game-controller-retro:before{
  content: "\eb17"}
.i-game-controller:before{
  content: "\eb18"}
.i-gantt-chart:before{
  content: "\eb19"}
.i-garantee:before{
  content: "\eb1a"}
.i-gba:before{
  content: "\eb1b"}
.i-gbc:before{
  content: "\eb1c"}
.i-gif:before{
  content: "\eb1d"}
.i-gift:before{
  content: "\eb1e"}
.i-globe-africa:before{
  content: "\eb1f"}
.i-globe-americas:before{
  content: "\eb20"}
.i-google-ad:before{
  content: "\eb21"}
.i-google:before{
  content: "\eb22"}
.i-grid-layout:before{
  content: "\eb23"}
.i-guarantee-info:before{
  content: "\eb24"}
.i-hashtag:before{
  content: "\eb25"}
.i-hd-screen:before{
  content: "\eb26"}
.i-hdmi-cable:before{
  content: "\eb27"}
.i-headphones-2:before{
  content: "\eb28"}
.i-headphones:before{
  content: "\eb29"}
.i-headset:before{
  content: "\eb2a"}
.i-heart-circle:before{
  content: "\eb2b"}
.i-heart-small:before{
  content: "\eb2c"}
.i-heart:before{
  content: "\eb2d"}
.i-hexagon:before{
  content: "\eb2e"}
.i-high-low:before{
  content: "\eb2f"}
.i-history:before{
  content: "\eb30"}
.i-home-alt:before{
  content: "\eb31"}
.i-home:before{
  content: "\eb32"}
.i-id:before{
  content: "\eb33"}
.i-idea:before{
  content: "\eb34"}
.i-imac:before{
  content: "\eb35"}
.i-image-alt:before{
  content: "\eb36"}
.i-image:before{
  content: "\eb37"}
.i-img:before{
  content: "\eb38"}
.i-in-ear-headphones:before{
  content: "\eb39"}
.i-indent-decrease:before{
  content: "\eb3a"}
.i-indent-increase:before{
  content: "\eb3b"}
.i-info-1:before{
  content: "\eb3c"}
.i-info-circle:before{
  content: "\eb3d"}
.i-info-small:before{
  content: "\eb3e"}
.i-info:before{
  content: "\eb3f"}
.i-instagram:before{
  content: "\eb40"}
.i-invoice:before{
  content: "\eb41"}
.i-italic:before{
  content: "\eb42"}
.i-jpg:before{
  content: "\eb43"}
.i-kanban:before{
  content: "\eb44"}
.i-key-1:before{
  content: "\eb45"}
.i-key:before{
  content: "\eb46"}
.i-keyboard:before{
  content: "\eb47"}
.i-lan-cable:before{
  content: "\eb48"}
.i-laptop:before{
  content: "\eb49"}
.i-layers-intersect:before{
  content: "\eb4a"}
.i-layers-union:before{
  content: "\eb4b"}
.i-layers:before{
  content: "\eb4c"}
.i-layouts:before{
  content: "\eb4d"}
.i-left-circle:before{
  content: "\eb4e"}
.i-left-small:before{
  content: "\eb4f"}
.i-left:before{
  content: "\eb50"}
.i-lifebuoy:before{
  content: "\eb51"}
.i-line:before{
  content: "\eb52"}
.i-link-remove:before{
  content: "\eb53"}
.i-link:before{
  content: "\eb54"}
.i-linkedin:before{
  content: "\eb55"}
.i-list-layout:before{
  content: "\eb56"}
.i-list-ordered:before{
  content: "\eb57"}
.i-list-unordered:before{
  content: "\eb58"}
.i-loader:before{
  content: "\eb59"}
.i-loading:before{
  content: "\eb5a"}
.i-lock:before{
  content: "\eb5b"}
.i-log-in:before{
  content: "\eb5c"}
.i-log-out:before{
  content: "\eb5d"}
.i-logout:before{
  content: "\eb5e"}
.i-loop:before{
  content: "\eb5f"}
.i-low-to-high:before{
  content: "\eb60"}
.i-m-buy:before{
  content: "\eb61"}
.i-m-calendar:before{
  content: "\eb62"}
.i-m-call:before{
  content: "\eb63"}
.i-m-calling:before{
  content: "\eb64"}
.i-m-camera:before{
  content: "\eb65"}
.i-m-category:before{
  content: "\eb66"}
.i-m-chart:before{
  content: "\eb67"}
.i-m-chat:before{
  content: "\eb68"}
.i-m-close-square:before{
  content: "\eb69"}
.i-m-danger:before{
  content: "\eb6a"}
.i-m-discount:before{
  content: "\eb6b"}
.i-m-discovery:before{
  content: "\eb6c"}
.i-m-document:before{
  content: "\eb6d"}
.i-m-download:before{
  content: "\eb6e"}
.i-m-edit-square:before{
  content: "\eb6f"}
.i-m-filter-4:before{
  content: "\eb70"}
.i-m-folder:before{
  content: "\eb71"}
.i-m-graph:before{
  content: "\eb72"}
.i-m-heart:before{
  content: "\eb73"}
.i-m-hide:before{
  content: "\eb74"}
.i-m-home:before{
  content: "\eb75"}
.i-m-image:before{
  content: "\eb76"}
.i-m-info-square:before{
  content: "\eb77"}
.i-m-location:before{
  content: "\eb78"}
.i-m-login:before{
  content: "\eb79"}
.i-m-logout:before{
  content: "\eb7a"}
.i-m-message:before{
  content: "\eb7b"}
.i-m-more-circle:before{
  content: "\eb7c"}
.i-m-more-square:before{
  content: "\eb7d"}
.i-m-more:before{
  content: "\eb7e"}
.i-m-password:before{
  content: "\eb7f"}
.i-m-plus:before{
  content: "\eb80"}
.i-m-profile:before{
  content: "\eb81"}
.i-m-scan:before{
  content: "\eb82"}
.i-m-send:before{
  content: "\eb83"}
.i-m-setting:before{
  content: "\eb84"}
.i-m-shield-done:before{
  content: "\eb85"}
.i-m-shield-fail:before{
  content: "\eb86"}
.i-m-show:before{
  content: "\eb87"}
.i-m-star:before{
  content: "\eb88"}
.i-m-swap:before{
  content: "\eb89"}
.i-m-tick-square:before{
  content: "\eb8a"}
.i-m-ticket-star:before{
  content: "\eb8b"}
.i-m-ticket:before{
  content: "\eb8c"}
.i-m-time-circle:before{
  content: "\eb8d"}
.i-m-time-square:before{
  content: "\eb8e"}
.i-m-unlock:before{
  content: "\eb8f"}
.i-m-upload:before{
  content: "\eb90"}
.i-m-video:before{
  content: "\eb91"}
.i-m-voice:before{
  content: "\eb92"}
.i-m-voice1:before{
  content: "\eb93"}
.i-m-wallet:before{
  content: "\eb94"}
.i-m-work:before{
  content: "\eb95"}
.i-magsafe:before{
  content: "\eb96"}
.i-male:before{
  content: "\eb97"}
.i-map-pin:before{
  content: "\eb98"}
.i-market:before{
  content: "\eb99"}
.i-medium:before{
  content: "\eb9a"}
.i-menu:before{
  content: "\eb9b"}
.i-message-minus:before{
  content: "\eb9c"}
.i-message-no-access:before{
  content: "\eb9d"}
.i-message-plus:before{
  content: "\eb9e"}
.i-message-square:before{
  content: "\eb9f"}
.i-message-text-alt:before{
  content: "\eba0"}
.i-message-text:before{
  content: "\eba1"}
.i-message-tick:before{
  content: "\eba2"}
.i-message-x:before{
  content: "\eba3"}
.i-message:before{
  content: "\eba4"}
.i-messenger:before{
  content: "\eba5"}
.i-mic-off:before{
  content: "\eba6"}
.i-mic:before{
  content: "\eba7"}
.i-micro-sd-card:before{
  content: "\eba8"}
.i-microphone:before{
  content: "\eba9"}
.i-minimise-alt:before{
  content: "\ebaa"}
.i-minimise:before{
  content: "\ebab"}
.i-minus-circle:before{
  content: "\ebac"}
.i-minus-small:before{
  content: "\ebad"}
.i-minus:before{
  content: "\ebae"}
.i-mobile:before{
  content: "\ebaf"}
.i-modal-confirmation:before{
  content: "\ebb0"}
.i-modal-error:before{
  content: "\ebb1"}
.i-modal-info:before{
  content: "\ebb2"}
.i-modal-success:before{
  content: "\ebb3"}
.i-mood-flat:before{
  content: "\ebb4"}
.i-mood-frown:before{
  content: "\ebb5"}
.i-mood-laugh:before{
  content: "\ebb6"}
.i-mood-sad:before{
  content: "\ebb7"}
.i-mood-smile:before{
  content: "\ebb8"}
.i-mood-surprised:before{
  content: "\ebb9"}
.i-mood-tongue:before{
  content: "\ebba"}
.i-moon:before{
  content: "\ebbb"}
.i-more-horizontal:before{
  content: "\ebbc"}
.i-more-vertical:before{
  content: "\ebbd"}
.i-more:before{
  content: "\ebbe"}
.i-mouse:before{
  content: "\ebbf"}
.i-mov:before{
  content: "\ebc0"}
.i-move:before{
  content: "\ebc1"}
.i-mp3:before{
  content: "\ebc2"}
.i-mp4:before{
  content: "\ebc3"}
.i-music:before{
  content: "\ebc4"}
.i-n64:before{
  content: "\ebc5"}
.i-nes:before{
  content: "\ebc6"}
.i-next-circle:before{
  content: "\ebc7"}
.i-next-small:before{
  content: "\ebc8"}
.i-next:before{
  content: "\ebc9"}
.i-nintendo-switch:before{
  content: "\ebca"}
.i-note:before{
  content: "\ebcb"}
.i-notification:before{
  content: "\ebcc"}
.i-omega:before{
  content: "\ebcd"}
.i-otp:before{
  content: "\ebce"}
.i-package:before{
  content: "\ebcf"}
.i-page-break:before{
  content: "\ebd0"}
.i-page-number:before{
  content: "\ebd1"}
.i-paintbrush:before{
  content: "\ebd2"}
.i-paintbucket:before{
  content: "\ebd3"}
.i-paperclip:before{
  content: "\ebd4"}
.i-paragraph:before{
  content: "\ebd5"}
.i-patreon:before{
  content: "\ebd6"}
.i-pause-circle:before{
  content: "\ebd7"}
.i-pause-small:before{
  content: "\ebd8"}
.i-pause:before{
  content: "\ebd9"}
.i-pdf:before{
  content: "\ebda"}
.i-pen:before{
  content: "\ebdb"}
.i-phone:before{
  content: "\ebdc"}
.i-phonecall-blocked:before{
  content: "\ebdd"}
.i-phonecall-receive:before{
  content: "\ebde"}
.i-phonecall:before{
  content: "\ebdf"}
.i-pie-chart-alt:before{
  content: "\ebe0"}
.i-pie-chart:before{
  content: "\ebe1"}
.i-pie:before{
  content: "\ebe2"}
.i-pin:before{
  content: "\ebe3"}
.i-pinterest:before{
  content: "\ebe4"}
.i-play-circle:before{
  content: "\ebe5"}
.i-play-small:before{
  content: "\ebe6"}
.i-play:before{
  content: "\ebe7"}
.i-plug:before{
  content: "\ebe8"}
.i-plus-2:before{
  content: "\ebe9"}
.i-plus-circle:before{
  content: "\ebea"}
.i-plus-square:before{
  content: "\ebeb"}
.i-plus:before{
  content: "\ebec"}
.i-png:before{
  content: "\ebed"}
.i-point:before{
  content: "\ebee"}
.i-power:before{
  content: "\ebef"}
.i-ppt:before{
  content: "\ebf0"}
.i-print:before{
  content: "\ebf1"}
.i-printer:before{
  content: "\ebf2"}
.i-product-cart:before{
  content: "\ebf3"}
.i-product-finishing:before{
  content: "\ebf4"}
.i-product-info:before{
  content: "\ebf5"}
.i-product-pending:before{
  content: "\ebf6"}
.i-product-view:before{
  content: "\ebf7"}
.i-product:before{
  content: "\ebf8"}
.i-qr-code:before{
  content: "\ebf9"}
.i-question-circle:before{
  content: "\ebfa"}
.i-question-small:before{
  content: "\ebfb"}
.i-question:before{
  content: "\ebfc"}
.i-quote:before{
  content: "\ebfd"}
.i-receipt:before{
  content: "\ebfe"}
.i-refresh-alt:before{
  content: "\ebff"}
.i-refresh:before{
  content: "\ec00"}
.i-replay:before{
  content: "\ec01"}
.i-report:before{
  content: "\ec02"}
.i-rewind-circle:before{
  content: "\ec03"}
.i-rewind-small:before{
  content: "\ec04"}
.i-rewind:before{
  content: "\ec05"}
.i-right-circle:before{
  content: "\ec06"}
.i-right-small:before{
  content: "\ec07"}
.i-right:before{
  content: "\ec08"}
.i-robot:before{
  content: "\ec09"}
.i-roller:before{
  content: "\ec0a"}
.i-router:before{
  content: "\ec0b"}
.i-rss:before{
  content: "\ec0c"}
.i-save-1:before{
  content: "\ec0d"}
.i-save:before{
  content: "\ec0e"}
.i-scan:before{
  content: "\ec0f"}
.i-screen-alt:before{
  content: "\ec10"}
.i-screen:before{
  content: "\ec11"}
.i-scribble:before{
  content: "\ec12"}
.i-sd-card:before{
  content: "\ec13"}
.i-search:before{
  content: "\ec14"}
.i-section-add:before{
  content: "\ec15"}
.i-section-remove:before{
  content: "\ec16"}
.i-seen:before{
  content: "\ec17"}
.i-select-tick:before{
  content: "\ec18"}
.i-send-down:before{
  content: "\ec19"}
.i-send-left:before{
  content: "\ec1a"}
.i-send-right:before{
  content: "\ec1b"}
.i-send-up:before{
  content: "\ec1c"}
.i-send:before{
  content: "\ec1d"}
.i-service:before{
  content: "\ec1e"}
.i-settings:before{
  content: "\ec1f"}
.i-share:before{
  content: "\ec20"}
.i-shield-tick:before{
  content: "\ec21"}
.i-shield-x:before{
  content: "\ec22"}
.i-shield:before{
  content: "\ec23"}
.i-shopping-bag:before{
  content: "\ec24"}
.i-shopping-cart:before{
  content: "\ec25"}
.i-signin:before{
  content: "\ec26"}
.i-sim:before{
  content: "\ec27"}
.i-skull:before{
  content: "\ec28"}
.i-skype:before{
  content: "\ec29"}
.i-smile:before{
  content: "\ec2a"}
.i-snes:before{
  content: "\ec2b"}
.i-social-aparat:before{
  content: "\ec2c"}
.i-social-facebook:before{
  content: "\ec2d"}
.i-social-instagram:before{
  content: "\ec2e"}
.i-social-linkedin:before{
  content: "\ec2f"}
.i-social-telegram:before{
  content: "\ec30"}
.i-social-twitter:before{
  content: "\ec31"}
.i-sort-alphabetically:before{
  content: "\ec32"}
.i-sort-down:before{
  content: "\ec33"}
.i-sort-high-to-low:before{
  content: "\ec34"}
.i-sort-low-to-high:before{
  content: "\ec35"}
.i-sort-reverse-alphabetically:before{
  content: "\ec36"}
.i-sort-up:before{
  content: "\ec37"}
.i-sound-off:before{
  content: "\ec38"}
.i-sound-on:before{
  content: "\ec39"}
.i-sport:before{
  content: "\ec3a"}
.i-spotify:before{
  content: "\ec3b"}
.i-spreadsheet:before{
  content: "\ec3c"}
.i-square:before{
  content: "\ec3d"}
.i-stamp:before{
  content: "\ec3e"}
.i-star-circle:before{
  content: "\ec3f"}
.i-star-fill:before{
  content: "\ec40"}
.i-star-info:before{
  content: "\ec41"}
.i-star-list:before{
  content: "\ec42"}
.i-star-small:before{
  content: "\ec43"}
.i-star-squar:before{
  content: "\ec44"}
.i-star:before{
  content: "\ec45"}
.i-stepper:before{
  content: "\ec46"}
.i-stop-circle:before{
  content: "\ec47"}
.i-stop-small:before{
  content: "\ec48"}
.i-stop:before{
  content: "\ec49"}
.i-stopwatch:before{
  content: "\ec4a"}
.i-strikethrough:before{
  content: "\ec4b"}
.i-subscript:before{
  content: "\ec4c"}
.i-success:before{
  content: "\ec4d"}
.i-sun:before{
  content: "\ec4e"}
.i-sunrise:before{
  content: "\ec4f"}
.i-sunset:before{
  content: "\ec50"}
.i-superscript:before{
  content: "\ec51"}
.i-support:before{
  content: "\ec52"}
.i-svg:before{
  content: "\ec53"}
.i-table:before{
  content: "\ec54"}
.i-tablet:before{
  content: "\ec55"}
.i-tag:before{
  content: "\ec56"}
.i-target:before{
  content: "\ec57"}
.i-telegram:before{
  content: "\ec58"}
.i-text-document-alt:before{
  content: "\ec59"}
.i-text-document:before{
  content: "\ec5a"}
.i-text:before{
  content: "\ec5b"}
.i-thumb-down:before{
  content: "\ec5c"}
.i-thumb-up:before{
  content: "\ec5d"}
.i-thumbtack:before{
  content: "\ec5e"}
.i-tick-circle:before{
  content: "\ec5f"}
.i-tick-small:before{
  content: "\ec60"}
.i-tick:before{
  content: "\ec61"}
.i-tiktok:before{
  content: "\ec62"}
.i-today:before{
  content: "\ec63"}
.i-toggle:before{
  content: "\ec64"}
.i-tomorrow:before{
  content: "\ec65"}
.i-tool-1:before{
  content: "\ec66"}
.i-tool:before{
  content: "\ec67"}
.i-top-left:before{
  content: "\ec68"}
.i-top-right:before{
  content: "\ec69"}
.i-trash:before{
  content: "\ec6a"}
.i-trend-down:before{
  content: "\ec6b"}
.i-trend-up:before{
  content: "\ec6c"}
.i-triangle:before{
  content: "\ec6d"}
.i-truck:before{
  content: "\ec6e"}
.i-tv:before{
  content: "\ec6f"}
.i-twitch:before{
  content: "\ec70"}
.i-twitter:before{
  content: "\ec71"}
.i-underline:before{
  content: "\ec72"}
.i-unlock-circle:before{
  content: "\ec73"}
.i-unlock-small:before{
  content: "\ec74"}
.i-unlock:before{
  content: "\ec75"}
.i-up-circle:before{
  content: "\ec76"}
.i-up-small:before{
  content: "\ec77"}
.i-up:before{
  content: "\ec78"}
.i-upload-cloud:before{
  content: "\ec79"}
.i-upload:before{
  content: "\ec7a"}
.i-usb-cable:before{
  content: "\ec7b"}
.i-user-1:before{
  content: "\ec7c"}
.i-user-check:before{
  content: "\ec7d"}
.i-user-circle:before{
  content: "\ec7e"}
.i-user-info:before{
  content: "\ec7f"}
.i-user-love:before{
  content: "\ec80"}
.i-user-minus:before{
  content: "\ec81"}
.i-user-plus-1:before{
  content: "\ec82"}
.i-user-plus:before{
  content: "\ec83"}
.i-user-scan:before{
  content: "\ec84"}
.i-user-square:before{
  content: "\ec85"}
.i-user:before{
  content: "\ec86"}
.i-users:before{
  content: "\ec87"}
.i-variation-info:before{
  content: "\ec88"}
.i-variation:before{
  content: "\ec89"}
.i-vector-document:before{
  content: "\ec8a"}
.i-verify:before{
  content: "\ec8b"}
.i-video:before{
  content: "\ec8c"}
.i-view-column:before{
  content: "\ec8d"}
.i-view-grid:before{
  content: "\ec8e"}
.i-voice-off:before{
  content: "\ec8f"}
.i-voice:before{
  content: "\ec90"}
.i-volume-1:before{
  content: "\ec91"}
.i-volume-2:before{
  content: "\ec92"}
.i-volume-3:before{
  content: "\ec93"}
.i-vr-headset:before{
  content: "\ec94"}
.i-waiting:before{
  content: "\ec95"}
.i-wallet-alt:before{
  content: "\ec96"}
.i-wallet:before{
  content: "\ec97"}
.i-wand:before{
  content: "\ec98"}
.i-warning:before{
  content: "\ec99"}
.i-whatsapp:before{
  content: "\ec9a"}
.i-wifi-full:before{
  content: "\ec9b"}
.i-wifi-low:before{
  content: "\ec9c"}
.i-wifi-none:before{
  content: "\ec9d"}
.i-world:before{
  content: "\ec9e"}
.i-x-circle:before{
  content: "\ec9f"}
.i-x-small:before{
  content: "\eca0"}
.i-x:before{
  content: "\eca1"}
.i-xls:before{
  content: "\eca2"}
.i-youtube:before{
  content: "\eca3"}
.i-z-to-a:before{
  content: "\eca4"}
.i-zip:before{
  content: "\eca5"}
.i-zoom-in:before{
  content: "\eca6"}
.i-zoom-out:before{
  content: "\eca7"}
